/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Top Banner Section Start */
.top-banner{
    display: flex;
    background: #2D25A0;
}
.half-width{
    width: 40%;
    margin: 5% 5% 5% 5%;
    display: flex;
    align-items: center;
}
.top-banner-name{
    font-size: 47px;
    font-weight: 700;
    color: #FFFFFF;
   
}
.top-banner-name .button{
    background: #E02C6D;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    color: white;
    border: none;
}
.top-banner-pic img{
    width: 556px;
    height: 438px;
}
/* Top Banner Section End */

