/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Common Style */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Top Banner Section Start */

.top-banner{
    display: flex;
    background: #2D25A0;
}
.half-width{
    width: 40%;
    margin: 5% 5% 5% 5%;
    display: flex;
    align-items: center;
}
.top-banner-name{
    font-size: 47px;
    font-weight: 700;
    color: #FFFFFF;
   
}
.top-banner-name .button{
    background: #E02C6D;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    color: white;
    border: none;
    transition: all .5s ease-in-out;
}
.button:hover{
    font-size: 25px;
    background: #3DBAFD;
    color: black;
    border-radius: 25px; 
}
.top-banner-pic img{
    width: 556px;
    height: 438px;
}

/* Top Banner Section End */

/* Football Portal Section Start */

.football-portal{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 35px;
}
.footballer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
}
.footballer-info{
    width: 300px;
    box-shadow: 0px 0px 40px lightgrey;
    padding: 15px;
}
.thumbnail img{
    width: 300px;
}
.player-detail{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
/* Football Portal Section End */

/* Footer Start */

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 480px;
}
.social{
    font-size: 32px;
}
.social i{
    background: #E7E7E8;
    color: #969BAB;
    padding: 10px;
    border-radius: 50%;
    margin-right: 14px;
}
.copyright{
    font-size: 24px;
}

/* Footer End */

/* Contact Form Start */

.contact, input, textarea, button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
}
.contact-us input, textarea{
    width: 250px;
    border: 2px solid #2D25A0;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}
input,textarea:focus{
    outline: 0;
}
.contact-us button{
    padding: 10px 20px;
    border: none;
    background: #E02C6D;
    color: white;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}
.contact-us button i{
    font-size: 16px;
}
.contact-us button span{
    font-size: 18px;
}
button:hover{
    padding: 10px 105px;
    background: #2D25A0;
}
/* Contact Form End */

/* Media Query */
/* For Mobile */
@media only screen and (max-width:688px) {
    .top-banner{
        flex-direction: column;
    }
    .top-banner-name{
        font-size: 36px;
    }
    .top-banner-pic img{
        width: 330px;
        height: 260px;
    }
    .footballer{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-logo img{
        width: 300px;
    }
    .social{
        font-size: 26px;
    }
}
/* For Tablet */
@media only screen and (min-width:689px) and (max-width:992px) {
    .top-banner-name{
        font-size: 36px;
    }
    .top-banner-pic img{
        width: 330px;
        height: 250px;
    }
    .footballer{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-logo img{
        width: 400px;
    }
    .social{
        font-size: 28px;
    }
}