/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Common Style */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* Top Banner Section Start */

.top-banner{
    display: flex;
    background: #2D25A0;
}
.half-width{
    width: 40%;
    margin: 5% 5% 5% 5%;
    display: flex;
    align-items: center;
}
.top-banner-name{
    font-size: 47px;
    font-weight: 700;
    color: #FFFFFF;
   
}
.top-banner-name .button{
    background: #E02C6D;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 24px;
    color: white;
    border: none;
    transition: all .5s ease-in-out;
}
.button:hover{
    font-size: 25px;
    background: #3DBAFD;
    color: black;
    border-radius: 25px; 
}
.top-banner-pic img{
    width: 556px;
    height: 438px;
}

/* Top Banner Section End */

/* Football Portal Section Start */

.football-portal{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 35px;
}
.footballer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
}
.footballer-info{
    width: 300px;
    box-shadow: 0px 0px 40px lightgrey;
    padding: 15px;
}
.thumbnail img{
    width: 300px;
}
.player-detail{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
/* Football Portal Section End */

/* Footer Start */

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 480px;
}
.social{
    font-size: 32px;
}
.social i{
    background: #E7E7E8;
    color: #969BAB;
    padding: 10px;
    border-radius: 50%;
    margin-right: 14px;
}
.copyright{
    font-size: 24px;
}

/* Footer End */